/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/content/companion/lavender.css");

@media not (prefers-contrast) {
  :root {
    --light-bg-color: #F0F0F4;
    --in-content-primary-button-background: #0060DF;
  }

  :root:-moz-lwtheme-brighttext {
    --light-bg-color: #42414D;
  }
}

@media (-moz-toolbar-prefers-color-scheme: dark) {
  :root {
    --light-bg-color: #F0F0F4;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 500px;
  min-width: 300px; /* var(--companion-width) from browser.css */
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100vh;
  width: 100vw;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 16px;
}

h3 {
  font-size: 0.9em;
}

button {
  min-width: unset;
  cursor: pointer;
}

a {
  cursor: pointer;
}

/* For this to work it needs to be applied directly to the html element, via
   ID (putting it in the html block above will not apply.) */
#companion {
  background: none;
}

.companion-main {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
}

#companion-deck {
  overflow-y: auto;
  scrollbar-width: thin;
}

.debug {
  display: none;
}

.debugUI .debug {
  display: block;
}

.debug-container {
  white-space: pre-line;
}

#events-placeholder {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  padding: 5px 0;
}

.app .switch-to-app {
  flex-shrink: 0;
}

.list-title {
  font-size: 11px;
  margin: 16px;
}

.list-subtitle {
  color: var(--in-content-deemphasized-text);
  margin-block: -16px 16px;
  margin-inline: 16px 0;
  font-size: 0.625em;
  padding: 0;
  font-weight: normal;
}

.email, .app-overview {
  display: flex;
  flex-direction: row;
  justify-content: start;
  cursor: default;
  padding: 5px;
}

.email {
  flex-direction: column;
}

.snapshot, .app-overview {
  align-items: center;
}

.app-overview img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  object-position: 50% 50%;
  align-self: center;
}

.app-overview .title {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  margin: 0;
}

.keyframe .last-access,
.keyframe .category,
.keyframe .score {
  padding-left: 20px;
  margin: 0;
}

.keyframe {
  position: relative;
}

.keyframe[current]::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 20px;
  left: 0;
  top: 0;
  background: #0090ED;
  border-radius: 0px 4px 4px 0px;
}

#service-login.connected #service-signin {
  display: none;
}

#service-login.disconnected #service-signout {
  display: none;
}

[hidden] {
  display: none !important;
}

.favicon {
  height: 16px;
  width: 16px;
}

#email {
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.media.card {
  position: relative;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  gap: 4px;
  z-index: 2;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.18);
  margin: 16px;
  margin-block-start: 0;
}

.media.card > * {
  margin: 0;
}

.media button {
  background: none;
  z-index: 2;
  max-width: 24px;
  /* Quick method to make sure they are visible on contrasting backgrounds */
  filter: drop-shadow(0px 1px 1px black);
  fill: rgba(249, 249, 250, 1);
  -moz-context-properties: fill;
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
}

.media button:hover {
  background-color: transparent;
  opacity: .8;
}

.media .artwork {
  background-position: center;
  background-size: cover;
}

/* We could delete all this when we support filter-backdrop */
.media .artwork-background {
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: absolute;
  /* Give the background image an extra margin to smooth the blurring at the edge */
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  margin: -20px 0 0 -20px;
  z-index: 1;
}

.media .metadata {
  font-size: smaller;
  text-align: center;
  flex-grow: 1;
  z-index: 2;
  /* This text-shadow does not look great on white, we should replace */
  text-shadow: 0 0 1px hsl(0,0%,12%), 0 0 2px hsl(0,0%,12%);
  overflow: hidden;
}

.media .artist {
  opacity: 0.5;
}

/* The title is restricted to 2 lines */
.media .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.play-pause {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  background-color: var(--in-content-button-background);
  padding: 4px;
  z-index: 2;
}

.play-pause button {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  opacity: 1;
}

.play-pause button[data-state=playing] {
  background-image: url("chrome://global/skin/media/pause-fill.svg");
}

.play-pause button[data-state=paused] {
  background-image: url("chrome://global/skin/media/play-fill.svg");
}

.media .mute {
  background-image: url("chrome://global/skin/media/audio-muted.svg");
}

.media .unmute {
  background-image: url("chrome://global/skin/media/audio.svg");
}

.media .prev {
  background-image: url("next.svg");
  transform: scaleX(-1);
}

.media .next {
  background-image: url("next.svg");
}

.media .pip {
  background-image: url("chrome://global/skin/media/picture-in-picture-open.svg");
}

.event-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.from-date, .email-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 2px;
}
.from {
  font-weight: bold;
  flex: 1;
}
.subject, .snippet {
  padding-top: 2px;
  font-size: smaller;
}

.subject {
  padding-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.snippet {
  opacity: 0.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card {
  background: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin: 0 0 8px;
  transition: none;
  padding: 0 16px;
  user-select: none;
}

.card:not(.card-no-hover):hover {
  cursor: pointer;
  box-shadow: none;
}

#email {
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.email-title {
  flex: 1;
}

#inbox-link {
  cursor: pointer;
  opacity: 0.75;
  font-size: smaller;
}

e-global-nav-debugging h2 {
  margin: 16px;
  font-weight: bold;
}

.history-list {
  padding-left: 20px;
}

.history-entry {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.history-entry.visible {
  font-weight: bold;
}

.links div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.tab-button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 16px;
  border-radius: 42px;
}

.tab-button {
  /* Overwrite the generic button styles */
  border-radius: 0;
  -moz-outline-radius: 0;
  margin-inline: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: unset;
  padding-block: 6px;
}

.tab-button span {
  padding-inline-start: 4px;
  font-weight: normal;
  font-size: 14px;
}

.tab-button img {
  width: 16px;
  height: 16px;
  display: inline-block;
}

#companion-deck-button-browse img {
  background: center center no-repeat url(chrome://browser/skin/reader-mode.svg);
}

#companion-deck-button-now img {
  background: center center no-repeat url(chrome://activity-stream/content/data/content/assets/glyph-trending-16.svg);
}

.browse {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
}

.browse button {
  position: relative;
  padding-inline-start: 35px;
  text-align: start;
  background: center left 8px / 16px no-repeat url("chrome://global/skin/icons/defaultFavicon.svg");
  margin-inline: 0;
  font-weight: normal;
}

.browse button::after {
  content: " ";
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 2px;
  background: center no-repeat url(chrome://global/skin/icons/arrow-right.svg);
  inset-inline-end: 0;
  margin-inline-end: 8px;
}

.browse button::after:dir(rtl) {
  background-image: url(chrome://global/skin/icons/arrow-left.svg);
}

.browse button.groups {
  background-image: url("chrome://global/skin/icons/defaultFavicon.svg");
}

.browse button.snapshot-groups {
  background-image: url("snapshot-groups.svg");
}

@supports not -moz-bool-pref("browser.companion.snapshot-groups.enabled") {
  .browse button.snapshot-groups {
    display: none;
  }
}

.browse button.sessions {
  background-image: url("sessions.svg");
}

toolbarbutton.subviewbutton-back:hover,
.browse button:hover {
  background-color: var(--in-content-button-background-hover);
}

toolbarbutton.subviewbutton-back:hover:active,
.browse button:hover:active {
  background-color: var(--in-content-button-background-active);
}

.browse button.downloads {
  background-image: url("chrome://browser/skin/downloads/downloads.svg");
}

.browse button.passwords {
  background-image: url("chrome://browser/skin/login.svg");
}

.browse button.calendar {
  background-image: url("calendar.svg");
}

/*** PASSWORD PANEL ***/
toolbarbutton.subviewbutton-back {
  background-image: url(chrome://global/skin/icons/arrow-left.svg);
  background-repeat: no-repeat;
  margin-inline-start: 16px;
  width: 24px;
  height: 24px;
  background-position: center;
  border-radius: 4px;
}

#companion-downloads-browser {
  background: unset;
}

#companion-login-browser, #companion-downloads-browser {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.content,
#scroll-browse,
#downloads,
.passwords-panel {
  height: 100%;
  width: 100%;
}

#companion-deck[selected-view=downloads] {
  overflow-y: hidden;
}

#scroll,
#downloads .content {
  height: calc(100% - 30px);
}

#flow-reset-placeholder {
  text-align: center;
  margin: 1em;
  display: none;
  position: relative;
  border-radius: 16px;
  padding-block-start: 55px;
  box-shadow: 0px 2px 6px 0px #3A394433;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#flow-reset-placeholder::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  bottom: 300px;
  right: -50px;
  background: radial-gradient(481.74% 98.84% at 50% 83.12%, rgba(255, 255, 255, 0) 39.42%, rgba(0, 197, 224, 0.02) 60.44%, rgba(0, 184, 224, 0.145) 73.89%, rgba(132, 89, 255, 0.4) 94.52%);
  border-radius: 16px;
  opacity: .7;
  rotate: -6deg;
  pointer-events: none;
}

#flow-reset-close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: center center no-repeat url(chrome://global/skin/icons/close.svg);
  background-size: 12px;
}

[flow-reset] #flow-reset-placeholder {
  display: block;
}

[flow-reset] #now-content {
  display: none;
}

header {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

header button {
  margin-inline-start: 16px;
  width: 24px;
  height: 24px;
  min-width: unset;
}

header .back {
  background: center center no-repeat url(chrome://global/skin/icons/arrow-left.svg);
}

header .back:dir(rtl) {
  background-image: url(chrome://global/skin/icons/arrow-right.svg);
}

header h2 {
  margin: 0;
  margin-inline-start: 4px;
}

/* NOTE: these border radii on the now/browse buttons are not final styles;
   they're just a stopgap while lavender is being worked on. */
#companion-deck-button-browse,
#companion-deck-button-now {
  border-radius: 16px;
}

#snapshot-groups-detail .details {
  text-align: center;
}

#snapshot-groups-detail .details h2 {
  font-weight: 600;
  margin-block-end: 0;
}

#snapshot-groups-detail .details h3 {
  font-weight: normal;
  padding-block-end: 1em;
  margin: 1em;
  margin-block-start: 0;
}

#snapshot-groups-detail .details img {
  background: center center no-repeat url(chrome://global/skin/icons/defaultFavicon.svg);
  border: 0.5px solid;
  border-radius: 12px;
  width: 124px;
  height: 124px;
  object-fit: cover;
}

@media not (prefers-contrast) {
  #email {
    background-color: var(--light-bg-color);
  }

  .media .artwork-background {
    background-color: var(--light-bg-color);
  }

  .media .metadata {
    color: rgba(249, 249, 250, 1);
  }

  .play-pause button {
    background-color:rgba(255, 255, 255, .4);
  }

  .play-pause button:hover {
    background-color:rgba(255, 255, 255, .6);
  }

  .tab-button-group {
    background: var(--colors-cafe-30);
  }

  .tab-button {
    background-color: transparent;
    border: none;
    color: var(--colors-darkgrey-30);
  }

  .tab-button:hover {
    color: var(--colors-darkgrey-30) !important;
  }

  .tab-button[selected] {
    background-color: var(--colors-cafe-10);
    color: var(--colors-darkgrey-30);
    box-shadow: -1px 2px 4px 0px rgba(122, 94, 63, 0.08);
  }

  .tab-button img {
    -moz-context-properties: fill;
    fill: var(--colors-darkgrey-30);
  }

  .history-entry.pruned {
    color: rgba(100, 100, 100);
  }

  .history-entry.open {
    color: rgb(131, 30, 30);
  }

  body::not([flow-reset]):not([flow-reset-startup]) .tab-button-group {
    background-color: var(--colors-cafe-30);
  }

  body:not([flow-reset]):not([flow-reset-startup]) .companion-main .tab-button:hover {
    background-color: var(--colors-warm-pressed-02);
  }

  body:not([flow-reset]):not([flow-reset-startup]) .companion-main .tab-button:hover:active {
    background-color: var(--colors-cafe-70);
  }

  body[flow-reset] .companion-main .tab-button-group,
  body[flow-reset-startup] .companion-main .tab-button-group {
    /* --colors-lavender-120 */
    background-color: rgba(55, 30, 105, 0.07);
  }

  body[flow-reset] .tab-button:hover,
  body[flow-reset-startup] .tab-button:hover {
    /* --colors-cafe-10 */
    background: rgba(255, 254, 252, 0.39);
  }

  body[flow-reset] .tab-button:hover:active,
  body[flow-reset-startup] .tab-button:hover:active {
    background-color: var(--colors-lightgrey-60);
  }

  #flow-reset-close:hover {
    background-color: var(--light-bg-color);
  }

  body[flow-reset] .tab-button-group {
    /* --colors-lavender-120 */
    background-color: rgba(55, 30, 105, 0.07);
  }

  #snapshot-groups-detail .details h3 {
    border-bottom: 1px solid #CFCFD8;
  }

  #snapshot-groups-detail .details img {
    background-color: #F9F9FB;
    border-color: #AFAFBA;
  }
}
