/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

active-view-manager {
  display: flex;
  align-items: center;
  margin-block: 8px;
  -moz-window-dragging: no-drag;
}

workspace-el {
  margin-inline: 20px;
  border-radius: 100px;
  background-color: var(--avm-workspace-bg-color);
  box-shadow: inset 0px 2px 4px var(--avm-workspace-box-shadow-color);
  border: 0.5px solid var(--avm-workspace-border-color);
}

workspace-el:not(.selected) > .workspace > river-el::part(overflow),
workspace-el:not(.selected) > .workspace > pinned-views {
  display: none;
}

.selected.multiple > .workspace > river-el {
  background: #FFFFFF;
  border-radius: 100px;
}

workspace-el[workspace-id="0"] > .workspace > .workspace-indicator-button {
  background: var(--colors-lavender-80);
}

workspace-el[workspace-id="0"]:not(.selected) > .workspace > .workspace-indicator-button {
  background: var(--colors-lavender-30);
  border: 0.5px solid var(--colors-lavender-90);
  color: var(--colors-lavender-90);
}

workspace-el[workspace-id="1"] > .workspace > .workspace-indicator-button {
  background: #3F6BC0;
}

workspace-el[workspace-id="1"]:not(.selected) > .workspace > .workspace-indicator-button {
  background: #cbd9f7;
  border: 0.5px solid #2b57ad;
  color: #2b57ad;
}

workspace-el[workspace-id="2"] > .workspace > .workspace-indicator-button {
  background: var(--colors-teal-90);
}

workspace-el[workspace-id="2"]:not(.selected) > .workspace > .workspace-indicator-button {
  background: #cae8eb;
  border: 0.5px solid #196c70;
  color: #196c70;
}

workspace-el:not(.selected) {
  background-color: var(--avm-workspace-bg-color);
}

workspace-el.contains-pins:not(.multiple) {
  background-color: var(--avm-workspace-contains-pins-bg-color);
  border: 0.5px solid var(--avm-workspace-contains-pins-border-color);
}

workspace-el.contains-pins:not(.multiple),
workspace-el.multiple.selected {
  padding: 4px;
}

workspace-el.multiple.selected[workspace-id="0"] {
  background-color: var(--colors-lavender-20);
  border: 0.5px solid var(--colors-lavender-30);
  box-shadow: inset 0px 2px 4px var(--colors-lavender-30);
}

workspace-el.multiple.selected[workspace-id="1"] {
  background-color: #E1E9FA;
  border: 0.5px solid #CBD9F7;
  box-shadow: inset 0px 2px 4px rgba(217, 225, 250, 0.5);
}

workspace-el.multiple.selected[workspace-id="2"] {
  background-color: #E1F3F5;
  border: 0.5px solid #CAE9EB;
  box-shadow: inset 0px 2px 4px rgba(202, 233, 235, 0.5);
}
