/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "chrome://browser/skin/downloads/progressmeter.css";
@import "chrome://browser/skin/downloads/download-blockedStates.css";

/*** View and outer controls ***/

#downloadsListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  appearance: none;
  margin: 0;
}

@supports -moz-bool-pref("browser.pinebuild.enabled") {
  #contentAreaDownloadsView {
    padding: 0;
  }
  #downloadsListBox {
    border: 0;
  }
  #downloadsListBox.notification-mode .downloadButton {
    display: none;
  }

  #contentAreaDownloadsView, #downloadsListBox {
    background: unset;
    overflow: hidden;
  }

  #downloadsListBox > richlistitem {
    background: #FFFFFF;
  }

  #downloadsListBox:not(.notification-mode) > richlistitem {
    box-shadow: -1px 2px 4px rgba(132, 106, 65, 0.1);
    border-radius: 12px;
    margin: 8px 16px;
    position: relative;
  }

  #downloadsListBox .downloadTarget {
    font-size: 14px;
    color: var(--in-content-text-color);
  }

  #downloadsListBox .downloadDetails {
    color: var(--in-content-text-color);
  }

  #downloadsListBox .downloadTypeIcon {
    margin: 8px;
    background: #F7F7F8;
    border-radius: 32px;
    padding: 8px;
  }

  #downloadsListBox > richlistitem:hover {
    background: #F0E8DA;
  }

  .downloadButton {
    visibility: hidden;
  }

  #downloadsListBox > richlistitem:hover .downloadButton {
    visibility: visible;
  }

  #downloadsListBox .downloadButton > .button-box > .button-icon {
    color: black;
  }
}

/*** List items ***/

#downloadsListBox > richlistitem {
  height: var(--downloads-item-height);
}

.downloadTypeIcon {
  margin: 8px 13px;
  width: 32px;
  height: 32px;
}

.downloadTarget {
  margin: 0;
}

.downloadDetails {
  opacity: 0.7;
  font-size: 95%;
  /* Use calc() to keep the height consistent with .downloadTarget, so that the
     progress bar can be vertically centered. */
  margin: 4px 0 calc(1em / 0.95 - 1em);
}

.downloadDetailsHover,
.downloadDetailsButtonHover {
  display: none;
}

.downloadButton {
  appearance: none;
  -moz-box-align: center;
  background: transparent;
  min-width: 0;
  min-height: 0;
  margin: 0;
  border: none;
  color: inherit;
  padding: 0 12px;
}

.downloadButton > .button-box {
  padding: 8px;
  border-radius: 4px;
}

.downloadButton > .button-box > .button-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  -moz-context-properties: fill;
  fill: currentColor;
}

.downloadButton > .button-box > .button-text {
  display: none;
}

.downloadButton:hover > .button-box {
  background-color: color-mix(in srgb, currentColor 15%, transparent);
}

.downloadButton:hover:active > .button-box {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

/*** Button icons ***/

.downloadIconCancel > .button-box > .button-icon {
  list-style-image: url("chrome://global/skin/icons/close.svg");
}

.downloadIconShow > .button-box > .button-icon {
  list-style-image: url("chrome://global/skin/icons/folder.svg");
}

@media (-moz-platform: macos) {
  .downloadIconShow > .button-box > .button-icon {
    list-style-image: url("chrome://global/skin/icons/search-glass.svg");
  }
}

.downloadIconRetry > .button-box > .button-icon {
  list-style-image: url("chrome://global/skin/icons/reload.svg");
}
